

<div class="container">
  <div class="row" style=" height: 40px;background-color: #284455;">

    <div class="col text-end">
        <button class="btn btn-sm mt-1"  style="color: white;" mat-button mat-dialog-close>
            X
        </button>
    </div>
</div>
<div class="row p-5 text-center">
  <div class="col">
    <p>{{message}}</p>

  </div>
</div>
<div class="row">
  <!-- <div class="col"></div> -->
  <div class="col text-center">
    <button class="btn"  mat-button mat-dialog-close  style="background-color: #284455;color: white;">OK</button>
  </div>
  <!-- <div class="col"></div> -->

</div>
</div>
