html {
  overflow: scroll;
}

/* ::-webkit-scrollbar {
  direction:rtl;
} */

.heading {
  padding: 10px;
  font-size: large;
  color: white;
}


.incoming-message {
  background-color: #678983;
  margin-top: 10px;
  color: white;
  width: 500px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

.outgoing-message {
  /* width: 500px; */
  background-color: #3E6074;
  /* text-align: end; */
  margin-top: 10px;
  color: white;
  width: 500px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

.numberList {
 align-items: center;
  text-align: center;
  /* margin-bottom: 5px;
  margin-left: 10px; */
}
.incomingDate{
  text-align: end;
   padding: 0px 6px 0px;
   font-size: small;
   margin-right: 5px;

}
.outgoingDate{
  text-align: end;
  padding: 0px 6px 0px;
  font-size: small;
  margin-right: 5px;
}

