<app-header></app-header>
<!-- Sidebar -->
<div class="row">
  <div class="col-3" style="background-color: aquamarine;">
    <div class="row mt-5">
      <div class="col text-center" style="height: 70px; background-color: beige;">
      <a >Althaf</a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row" style="height: 48px; background-color: aqua"></div>
    <div class="container col" style="height: 500px">
<div class="col">
  hy
</div>
<div class="col text-end">
  hello
</div>
    </div>
    <div class="row">
      <div class="col-11">
        <input type="text" class="form-control" name="" id="" cols="140" rows="1">
      </div>
      <div class="col-1">
        <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
