<div class="container">
  <div class="row" style="background-color: #284455; height: 40px">
    <div class="col">
      <h5 style="color: white" class="mt-2">ADD NEW AGENT</h5>
    </div>
    <div class="col text-end">
      <button class="btn btn-sm mt-1" style="background-color: white; color: black" mat-button mat-dialog-close>
        X
      </button>
    </div>
  </div>
<form class="mx-1 mx-md-4 mt-3" [formGroup]="addAgentForm"  #f="ngForm">
  <div class="row">
    <label for="">User Name</label>
    <input type="text" class="form-control" formControlName="username" required>
    <div style="height: 20px;">
      <div>
        <p *ngIf="
        addAgentForm.controls['username'].invalid &&
      (addAgentForm.controls['username'].dirty ||
      addAgentForm.controls['username'].touched)
    " style="color: red">please enter username</p>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="">Password</label>
    <input type="text" class="form-control" formControlName="password" required>
    <div style="height: 20px;">
      <div>
        <p *ngIf="
        addAgentForm.controls['password'].invalid &&
      (addAgentForm.controls['password'].dirty ||
      addAgentForm.controls['password'].touched)
    " style="color: red">please enter password</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn mt-4" style="background-color: #284455;color: white;" (click)="addAgent()"  [disabled]="!f.valid">save</button>

  </div>
</form>


</div>