.nav-tabs{
  border: none;
}

.nav-tabs .nav-link{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}
a.nav-link.active{
  color: black;
}
a.nav-link{
  color: white;
}
select{
  border: none;
  border-radius: 2px;
}

