<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #628196;">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!-- <h5 *ngIf="superAdmin" style="color: white;">TENANT MANAGEMENT</h5> -->

      <li class="nav-item" >
        <ul class="nav nav-tabs">
          <li class="nav-items">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/admins']" > ADMINS  </a>
          </li>
          <li class="nav-items">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/agent']">AGENTS </a>
          </li>
          <li class="nav-items">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/report']">REPORTS </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>